<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="th/layout">
<head lang="en">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>

<div class="ui container grid" layout:fragment="content">
    <div class="row">
        <div class="sixteen wide column">
            <h1>Dashboard</h1>

            <div class="ui segment">
                <div class="content">
                    <h4 class="header">Messages</h4>
                </div>
                <ul id="messageList" class="ui admin list">
                    <li class="item" th:if="!${#lists.isEmpty(messages)}" th:each="message : ${messages}">
                        <span th:text="${message.value}"></span>
                    </li>

                    <li th:if="${#lists.isEmpty(messages)}" class="list-group-item"><i>None to show.</i></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="eight wide column">
            <div class="ui segment">
                <div class="content">
                    <h4 class="header">Recent Orders</h4>
                </div>
                <ul class="ui admin list">
                    <li class="item" th:if="!${#lists.isEmpty(recentOrders)}" th:each="order : ${recentOrders}">
                        <b th:text="${order.name}"></b>: <span th:text="${order.cart.prettyTotal}"></span>
                    </li>

                    <li th:if="${#lists.isEmpty(recentOrders)}" class="list-group-item"><i>None to show.</i></li>
                </ul>
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui segment">
                <h4 class="ui header">Statistics</h4>
                <div class="ui two statistics">
                    <div class="statistic">
                        <div th:text="${numOrders}" class="value"></div>
                        <div class="label">
                            Orders
                        </div>
                    </div>
                    <div class="statistic">
                        <div th:text="${totalRevenue}" class="value"></div>
                        <div class="label">
                            Revenue
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="bottom">
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    $(document).ajaxSend(function (e, xhr) {
        xhr.setRequestHeader(header, token);
    });

    $('*[data-message]').click(function () {
        var $self = $(this);
        $.ajax({
            type: 'POST',
            url: '/admin/ajax/message/' + $(this).data('message') + '/dismiss'
        }).success(function () {
            var $messageList = $('#messageList');
            $self.parent().remove();
            if ($messageList.children().length == 0) {
                $messageList.append($('<li class="list-group-item"><i>None to show.</i></li>'));
            }
        });
        return false;
    });
</script>

</body>
</html>