<table class="ui table">
  <thead>
    <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
  </thead>
  <tbody class="cartBody">
    {{#each cart}}
    {{> cartItem}}
    {{/each}}
    <tr class="positive">
        <td><b>Total</b></td>
        <td class="cartTotal price">{{cart.prettyTotal}}</td>
        <td></td>
    </tr>
  </tbody>
</table>


{{#unless cartReadOnly}}
<script type="text/javascript">
    $(function () {
        if (document.initCart)
            return;

        (document.initCart = (function () {
            {{precompile "cartItem"}}

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });

            $(document).on('change', '.changeQuantity', function (event) {
                var field = $(event.target);
                var item = field.parent();
                var itemId = item.data('item');
                field.api({
                    on: 'now',
                    url: '/cart/quantity/{id}/{value}',
                    urlData: {
                        id: itemId
                    },
                    method: 'POST',
                    stateContext: "div[data-item='" + itemId + "']",
                    onSuccess: function (data) {
                        $(document).trigger('updateCart', [data]);
                    }
                });
            });

            $(document).on('click', '.removeItemButton', function (event) {
                var button = $(event.target);
                var item = button.parent();
                var itemId = item.data('item');
                button.api({
                    on: 'now',
                    url: '/cart/remove/{id}',
                    urlData: {
                        id: itemId
                    },
                    method: 'POST',
                    stateContext: "div[data-item='" + itemId + "']",
                    onSuccess: function (data) {
                        $(document).trigger('updateCart', [data]);
                    }
                });
            });

            $(document).on('updateCart', function (event, data) {
                $('#navCartTotal').text(data.cart.totalQuantity);
                $('.cartTotal').text(data.cart.prettyTotal);

                $('.cartBody').each(function (i, body) {
                    var $body = $(body);
                    $body.children().remove(".cartItem");
                    var newItems = [];
                    $.each(data.cart.items, function (i, item) {
                        var newItem = $(Handlebars.templates['cartItem'](item));
                        newItems.push(newItem);
                    });
                    $body.prepend(newItems);
                });
            });
        }))();
    })
</script>
{{/unless}}