{{#partial "content"}}
<div class="ui container">
    <div class="sixteen wide column">
        <h1 class="ui centered header">
            {{i "inYourCart"}}
        </h1>
        {{> cartFragment}}
        <div class="ui two bottom attached buttons">
            <a href="/" class="ui left labeled icon button"><i class="left arrow icon"></i> {{i "back"}}</a>
            <a id="bigCheckoutButton" href="/checkout" class="ui {{#unless cart.totalQuantity}}disabled{{/unless}} right labeled icon button">{{i "checkout"}} <i class="right arrow icon"></i></a>
        </div>
    </div>
</div>
{{/partial}}

{{#partial "scripts"}}
<script type="text/javascript">
    $(document).on('updateCart', function (event, data) {
        if (data.cart.totalQuantity > 0) {
            $('#bigCheckoutButton').removeClass('disabled');
        } else {
            $('#bigCheckoutButton').addClass('disabled');
        }
    });
</script>
{{/partial}}

{{> layout title='Cart'}}