<tr class="cartItem">
    <td>{{product.name}}</td>
    <td>{{product.prettyPrice}}</td>
    <td>
        <div data-item="{{product.id}}" class="ui small icon input">
            <input {{#if cartReadOnly}}readonly{{/if}} class="changeQuantity" type="number" min="1" value="{{quantity}}">
            {{#unless cartReadOnly}}<i class="remove icon link removeItemButton"></i>{{/unless}}
        </div>
    </td>
</tr>