{{#partial "content"}}
<div class="ui page grid">
    <div class="sixteen wide column">
        <h1 class="ui centered header">
            {{product.name}}
        </h1>
        <div class="ui segment">
        </div>
    </div>
</div>
{{/partial}}

{{> layout title=product.name}}